.navbar
{
    background: '#fff';
    color: "#000";
}

.brand
{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.w-100 
{
  width: 100%;
}

.smalls
{
    background: linear-gradient(45deg, red, blue);
    border: none;
}
.card-text 
{
    font-family: sans-serif;
    font-weight: bold;
}
.rm-m 
{
    margin-top: -20px;
}
.bl 
{
    font-family: Verdana;
    font-stretch: extra-condensed;
    font-size: 1rem;
}

.res-mod 
{
    width: 500px;
}

@media( max-width: 600px){
   .dork
   {
       display: none;
   }
  
}

@media (max-width: 500px){
  .res-mod  {
    width: 100%;
  }
}